ion-button {
  width: 90%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

ion-datetime {
  margin: 50px auto;
  width: 100%;
  max-width: 200px;
  height: 200px;
}
