<ion-header>
  <ion-toolbar>
    <ion-title>Medicinas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/wiki"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let medicina of medicinas" (click)="verDetalle(medicina.id)">
      <ion-avatar slot="start">
        <img [src]="medicina.imagen" alt="{{ medicina.nombre }}" />
      </ion-avatar>
      <ion-label>
        <h3>{{ medicina.nombre }}</h3>
        <p>{{ medicina.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>