<ion-header>
  <ion-toolbar>
    <ion-title>Editar Horario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-datetime display-format="h:mm A" [(ngModel)]="selectedTime" presentation="time"></ion-datetime>
  </ion-item>
  <ion-button (click)="editarHorario()">Guardar</ion-button>
  <ion-button (click)="eliminar()">Eliminar</ion-button>
</ion-content>
