.titulo{
  text-align: center;
}
ion-card {
  padding: 16px;
}

.vasos {
  display: flex;
  align-items: center;
  gap: 10px;
}


.cont{
  margin-top: 30px;
}

.cont h3{
  margin-left: 10px;
}

h3{
  margin-left: 10px;
}

ion-row {
  justify-content: center;
}
