<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cuenta']">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Beber agua</h3>
  <ion-card>
    <div class="video-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAr9Vx-h9mVe8INw6u105oCEJ0vJsWQZUCgg&s" alt="vaso">
    </div>
    <h2>Vaso (Agregar funcion de vaso)</h2>
  </ion-card>
  <div class="cont">
    <h3>Contenido</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-button color="light" expand="full">Botón 1</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-button color="light" expand="full">Botón 1</ion-button>
        </ion-col>
        <ion-col size="5">
          <ion-button color="light" expand="full">Botón 2</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-button color="light" expand="full">Botón 3</ion-button>
        </ion-col>
        <ion-col size="5">
          <ion-button color="light" expand="full">Botón 4</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
