.titulo{
  text-align: center;
}
ion-card {
  padding: 16px;
}

.bntn{
  color: white;
  margin-left: 250px;
}

h2{
  color: white;
  margin-left: 25px;
}

h4{
  margin-left: 100px;
}

.vasos {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.cont{
  margin-top: 30px;
}

.cont h3{
  margin-left: 10px;
}

h3{
  margin-left: 10px;
}

ion-row {
  justify-content: center;
}
