<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Contenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button fill="clear" expand="full" class="btn">
      <ion-icon name="medic"></ion-icon>
      <ion-label>Componente</ion-label>
    </ion-button>
    <ion-button fill="clear" expand="full" class="btn" [routerLink]="['/video']">
      <span class="material-symbols-outlined" >
        video_library
        </span>
      <ion-label class="lab">Videos</ion-label>
    </ion-button>
  </ion-content>
</ion-menu>


<div class="medi" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Medicamentos</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
