.btn {
  color: white;
  margin: 20px 0 0 20px ;
  height: 48px;
}

.btn ion-label {
  display: block;
  width: 100%;
  text-align: start;
}

.lab{
  margin-left: 20px;
}

.medic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  margin-top: 170px;
}

.medic ion-button{
  margin-top: 20px;
}
