<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuentaa">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="cuentaa">
      <ion-icon name="person"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
