<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
		  <ion-back-button defaultHref="/buscar"></ion-back-button>
		</ion-buttons>
    <ion-title class="titulo">Paracetamol Pastilla</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="card">
    <ion-card>
    <img src="./../../../assets/medication/Paracetamol-pas.jpeg" alt="">
    </ion-card>
    <ion-card>
      <p>El paracetamol es uno de los medicamentos más utilizados frente al dolor y la fiebre. Es muy seguro, pero conviene prestar atención a la dosis máxima diaria, su consumo con alcohol y el uso adecuado en embarazadas. Además de tener múltiples presentaciones, este fármaco está comercializado en diferentes dosis.1</p>
    </ion-card>
    <ion-button>Agregar Medicamento</ion-button>
  </div>
</ion-content>

