.titulo{
  text-align: center;
  margin-right: 60px;
}

.subt{
  margin: 25px 0 15px;
}

.btn {
  color: white;
  margin: 20px 0 0 20px ;
  height: 48px;
}

.btn ion-label {
  display: block;
  width: 100%;
  text-align: start;
}

.lab{
  margin-left: 20px;
}