<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wiki">
      <ion-icon name="logo-chrome"></ion-icon>
      wiki
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="cuentaa">
      <ion-icon name="calendar-number"></ion-icon>
      Agendar
    </ion-tab-button>
    <ion-tab-button tab="cuentaa">
      <ion-icon name="person"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
