.map-container {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 300px;
}

#map {
    height: 100%;
    width: 100%;

    &.loading {
        filter: blur(2px);
        opacity: 0.7;
    }
}

.map-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.map-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-width: 90%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);

    &.hidden {
        display: none;
    }
}

:host ::ng-deep .leaflet-container {
    height: 100%;
    width: 100%;
}