<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Maniobra de heimlich</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="video-container">
      <iframe
        width="100%"
        height="200"
        src="https://www.youtube.com/embed/eUCVvA8HThE"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <h2>¿Cómo realizar la maniobra de Heimlich en adultos y niños?</h2>
  </ion-card>
    <div class="pas">
      <h1>Paso a paso</h1>
      <p>Adulto</p>
      <ion-list>
        <ion-item>
          <ion-label>
            1. Evalúa la situación
            <p>Si ves que la persona esta consciente y esta tosiendo animalo a que siga, si no, procede con estos pasos</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            2. Colócate detrás de la persona
            <p>Párate detrás de la persona y colócalo en posición erguida.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            3. Rodea la cintura con tus brazos
            <p>Coloca un puño justo por encima del ombligo de la persona, con el pulgar hacia el abdomen.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            4. Agarra el puño con la otra mano
            <p>Da un empuje hacia adentro y hacia arriba, como si intentaras levantar a la persona.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            5. Repite si es necesario
            <p>Realiza las maniobras hasta que el objeto sea expulsado o la persona respire con normalidad.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            6. Busca ayuda médica
            <p>Si el objeto no se expulsa o la persona sigue en dificultades, busca atención médica de inmediato.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="pas">
      <p>Niño (1 o mas años)</p>
      <ion-list>
        <ion-item>
          <ion-label>
            1. Evalúa la situación
            <p>Si ves que el niño esta tosiendo animalo a que siga, si no, procede con estos pasos</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            2. Colócate de rodillas frente al niño
            <p>Si el niño es pequeño, colócate de rodillas y ponlo sobre tus piernas, con la cabeza más baja que el pecho.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            3. Realiza golpes en la espalda
            <p>Con el talón de la mano, da cinco golpes firmes entre los omóplatos del niño.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            4. Si la obstrucción persiste
            <p>Coloca al niño en posición vertical, detrás de él, y sigue la misma técnica de Heimlich para adultos (puño en el abdomen, empuje hacia adentro y hacia arriba).</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            5. Busca ayuda médica
            <p>Si la obstrucción no se resuelve o el niño sigue en dificultades, busca atención médica de inmediato.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="pas">
      <p>Bebes (menos de 1 años)</p>
      <ion-list>
        <ion-item>
          <ion-label>
            1. Evalúa la situación
            <p>Si ves que el bebe esta tosiendo animalo a que siga, si no, procede con estos pasos</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            2. Coloca al bebé boca abajo sobre tu antebrazo
            <p>Apoya al bebé sobre tu antebrazo, con la cabeza más baja que el pecho.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            3. Realiza golpes en la espalda
            <p>Con el talón de la mano, da cinco golpes firmes entre los omóplatos del bebé.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            4. Si la obstrucción persiste
            <p>Da la vuelta al bebé y realiza cinco compresiones torácicas (como si estuvieras haciendo masaje cardíaco) con dos dedos en el centro del pecho, justo debajo de la línea de los pezones.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            5. Busca ayuda médica
            <p>Si la obstrucción no se resuelve o el bebé sigue en dificultades, busca atención médica de inmediato.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
