<!-- modall.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Maniobra de heimlich</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="video-container">
      <iframe
        width="100%"
        height="200"
        src="https://www.youtube.com/embed/eUCVvA8HThE"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <h2>¿Cómo realizar la maniobra de Heimlich en adultos y niños?</h2>
  </ion-card>
</ion-content>
