<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" class="center-content">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input label="Nombre de Usuario" label-placement="floating" type="text" [(ngModel)]="username"
          name="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Email" label-placement="floating" type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Contraseña" label-placement="floating" type="password" [(ngModel)]="password"
          name="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="OnRegisterButtonPressed()">Registrarse</ion-button>
  </ion-card>
</ion-content>